{% extends 'base.html' %}

{% block content%}
<div class = "container-fluid">
    <div class = "row">
        <div class = "col text-center">
            <br>
            <h2>Dietary Recommendations for Cancer Prevention</h2>
            <br>
            <img class="dietrec-img" src="/static/img/dietrec/dietrec_exercise.jpg">
            <img class="dietrec-img" src="/static/img/dietrec/dietrec_food.jpg">
            <img class="dietrec-img" src="/static/img/dietrec/dietrec_water.jpg">
        </div>
    </div>
    <div class = "row">
        <div class = "col m-3">
            <br>
            <p>Research finds that a healthy lifestyle can lower the risk of cancer recurrence and the risk of new cancer.
                Having a healthy lifestyle has many other benefits, such as lowering the risk of cardiovascular diseases,
                 hypertension and diabetes. It is very important in maintaining health.</p>
            <p>Although there are no special diet or food that can cause or cure cancer, a balanced diet and healthy weight
                can help lower the risk of cancer recurrence. </p>
            <p>The World Cancer Research Fund and American Cancer Society published dietary guidelines for cancer prevention.
                Their content are similar, main points as followed:</p>
            <ol>
                <li>Maintain a healthy weight with diet and exercise. If you are overweight now, any reduction in weight 
                    will benefit your health.</li>
                <li>Consume at least 5 servings of fruits and vegetables each day. One serving is one medium sized fruit 
                    or half a bowl of cooked vegetables. </li>
                <li>Choose whole grain products whenever possible, such as whole grain bread and brown rice, and not 
                    refined products, such as white bread and white rice.</li>
                <li>Do not eat too much red meat, including pork, beef, and lamb. Do not consume red meat for more than 2-3 
                    times per week. Choose fish, poultry or plant based protein (including legumes and soy products, such as 
                    tofu).</li>
                <li>Avoid eating processed meat whenever possible, including sausages, ham and canned meat.</li>
                <li>Limit intake of foods and drinks with added sugar, such as sodas, sweetened tea and lemonade.</li>
                <li>Choose low sodium foods and limit added salt.</li>
                <li>Drink plenty (at least 8 cups) of water each day</li>
                <li>Avoid drinking alcohol. If you decide to drink occasionally, limit drinking to no more than once per day 
                    and no more than 1-2 glasses each time.</li>
            </ol>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid" id="quiz">
    <div class = "row">
        <div class = "col text-center">
            <h3>Quiz</h3>
        </div>
    </div>
    <div class = "row">
        <div class = "col">
            <p class="score-display" id="score-display"></p>
            <form id="dietrec-quiz" action="/dietrec-quiz" method="POST" autocomplete="off">
                <div class="question-container">
                <ol id="question-box"></ol>
                </div>
                <div class="text-center">
                <button type="button" class="btn btn-outline-dark m-3" id="submit-button">Submit</button>
                <br>
                </div>
            </form>
            <script src="/static/js/module1.js"></script>
    </div>
</div>


{% endblock %}