{% extends 'base.html' %}

{% block content%}
<div class = "container-fluid">
    <div class = "row">
        <div class = "col text-center">
            <br>
            <h2>Fruits and Vegetables</h2>
        </div>
    </div>
    <div class = "row">
        <div class = "col m-3">
            <br>
            <p>Eating enough fruits and vegetables is an important part of a healthy diet.</p>
            <p>Fruits and vegetables are…</p>
            <ul>
                <li>Rich in vitamins and minerals, which helps maintain the normal functioning 
                    of different systems in the body. One example is the immune system</li>
                <li>High in dietary fiber, which can facilitate bowel movements and lower blood 
                    cholesterol.</li>
                <li>Low in calories. Eating a lot of fruits and vegetables will give the feeling 
                    of fullness and help with weight control. </li>
            </ul>
            <p>When adding fruits and vegetables to your diet, you need to pay attention to both the quantity and quality.</p>
            <table>
                <tr style="text-align:center">
                    <th>Quantity</th>
                    <th>Quality</th>
                </tr>
                <tr style="text-align:center">
                    <td><em>Consume at least 5 servings of fruits and vegetables per day</em></td>
                    <td><em>Consume at least 3 different colors of fruits and vegetables per day</em></td>
                </tr>
                <tr>
                    <td>
                        One serving of fruit and vegetables is…
                        <ul>
                            <li>1 cereal bowl of salad greens</li>
                            <li>About 5 broccoli florets</li>
                            <li>1 bowl of raw vegetables (such as carrot, mushroom, zucchini)</li>
                            <li>½ bowl of cooked vegetables</li>
                            <li>1 medium sized tomato</li>
                        </ul>
                    </td>
                    <td>
                        Vegetables of different colors are rich in different types of anti-oxidants, for example:
                        <ul>
                            <li>Red - Lycopene</li>
                            <li>Orange and yellow - Carotene</li>
                            <li>Green - Chlorophyll</li>
                            <li>Purple - Resveratrol</li>
                        </ul>
                    </td>
                </tr>
            </table>
            <br>
            <p>Tips to eat more fruit and vegetables:</p>
            <ul>
                <li>Add fruits to your breakfast. For example: add dried fruits to oatmeal or have fresh fruits and 
                    yogurt for breakfast.</li>
                <li>Have a fruit for tea or dessert.</li>
                <li>When you eat in a restaurant, add a vegetable side dish.</li>
                <li>When you cook at home, at least cook 5oz/150g of vegetables for each family member.</li>
                <li>Use meat as condiments to add taste to your vegetables. For example: add ground meat to stir-fry vegetables.</li>
                <li>Include one green vegetable and one colored vegetables in each meal. Example of colored vegetables:
                    tomatoes, onions, eggplants, carrots, sweet bell peppers, etc.</li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid" id="quiz">
    <div class = "row">
        <div class = "col text-center">
            <h3>Quiz</h3>
        </div>
    </div>
    <div class = "row">
        <div class = "col">
            <p class="score-display" id="score-display"></p>
        </div>
    </div>
    <div class = "row">
        <div class = "col-9" id="fooditems">
        
        </div>
        <div class = "col-3">
            <div class="choice-container" id="choices" ondrop="drop_handler(event,this)" ondragover="dragover_handler(event)">
                <h5>Choices</h5>
            </div>
        </div>
    </div>
    <div class="text-center">
    <br>
    <p id="correct-answers"></p>
    <br>
    <button type="button" class="btn btn-outline-dark m-3" id="submit-button">Submit</button>
    </div>
    <script src="/static/js/module2.js"></script>
</div>

{% endblock %}