{% extends 'base.html' %}

{% block content%}
<div class = "container-fluid">
    <div class = "row">
        <div class = "col text-center">
            <br>
            <h2>Whole Grains</h2>
        </div>
    </div>
    <div class = "row">
        <div class = "col m-3">
            <p>Most people rely on grains as a staple food. Therefore, it is important to know 
                the difference between whole and refined grains. Incorporating whole grains into 
                your daily diet can help maintain health. Whole grains contain vitamins, minerals, 
                healthy fats and dietary fiber that are not found in refined grains. They can help 
                lower blood sugar and cholesterol levels, as well as maintain a healthy digestive system. </p>
            
            <table>
                <tr>
                    <th>Refined grains:</th>
                    <td>White rice, white colored noodles (such as flat rice noodles and rice vermicelli), 
                        white bread, regular pasta</td>
                </tr>
                <tr>
                    <th>Whole grains:</th>
                    <td>Brown rice, red rice, quinoa, millet, buckwheat soba noodles, whole wheat pasta</td>
                </tr>
            </table>
            <br>
            <img src="/static/img/grain_structure.jpg" class="centered-img">
            <p class="text-center" style="font-size: 8px">Figure source: Harvard TH Chan School of Public Health</p>
            <br>
            <p>Tips for eating more whole grains:</p>
            <ul>
                <li>Add red rice, brown rice, quinoa, millet or oatmeal when you cook white rice.</li>
                <li>Start from adding one handful of whole grains to refined grains. Slowly increase 
                    the amount of whole grains added until reaching at least a 1:1 ratio.</li>
                <li>Have oatmeal for breakfast.</li>
                <li>Choose whole grain bread over white bread.</li>
                <li>If you like noodles, try soba/buckwheat noodles.</li>
                <li>Have popcorn as snacks (be careful of added salt and sugar).</li>
                <li>When increasing intake of whole grains, remember to drink more water to facilitate digestion.</li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid" id="quiz">
    <div class = "row">
        <div class = "col text-center">
            <h3>Quiz</h3>
        </div>
    </div>
    <div class = "row">
        <div class = "col">
            <p id="score-display" class="score-display"></p>
            <form id="wholegrains-quiz" action="/wholegrains-quiz" method="POST">
                <h5 style="text-align:center">Instruction: Please sort food items into the correct box.</h5>
                <div class = "row">
                    <div class="col category drop-box" id="wgrains" ondrop="drop_handler(event,this)" ondragover="dragover_handler(event)">
                        <h5>Whole Grains</h5>
                    </div>
                    <div class="col category drop-box" id="rgrains" ondrop="drop_handler(event,this)" ondragover="dragover_handler(event)">
                        <h5>Refined Grains</h5>
                    </div>
                    <div class="col category drop-box" id="fooditems">
                        <h5>Food Items</h5> 
                    </div>
                </div>
                <div class="middle">
                <p id="correct-answers" class="correct-answer"></p>
                <button type="button" class="btn btn-outline-secondary m-3" id="submit-button">Submit</button>
                </div>
            </form>
            <script src="/static/js/module4.js"></script> 
    </div>
</div>

{% endblock %}